/*
form {
    color: blue;
    display: table;
    display: table-cell;
    margin        : 0;
    padding       : 0;
    display       : grid;
    place-content : center ;
    min-height    : 100vh;
}
*/

.header-main {
    width: 100%;
    height: 60px;
    color: white;
    background-color: #000;
}

.main-p {
    color: blue;
    font-size: 20px;
    padding: 20px;
}
.test-div {
    color:green;
    background-color: yellow;
    padding: 20px;
    font-size: 30px;
}

.my-form {
    padding:20px;

}

.form-group {
    padding-bottom: 15px;
}